<div class="container-fluid mt-2">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card w-25 shadow">
            <div class="card-header bg-white">
                <h2 class="text-center">Login</h2>
            </div>
            <div class="card-body">
                <form [formGroup]="loginemp" (ngSubmit)="login()" class="row g-3">
                    <!-- Username -->
                    <div class="col-sm-12 col-md-12">
                        <label for="username">Username</label>
                        <input type="text" name="username" formControlName="username" class="form-control" id="username" placeholder="srikanth">
                    </div>
                    <!-- Password -->
                    <div class="col-sm-12 col-md-12">
                        <label for="password">Password</label>
                        <input type="password" name="password" formControlName="password" class="form-control" id="password" placeholder="123456">
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <div>I don't have account <a routerLink="/register" class="text-decoration-none">Register</a></div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>